/*
  FONT
*/

@font-face {
    font-family: 'Ladi Gross';
    src: url('../fonts/Ladi-Gross.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
  font-family: 'Ladi Dense';
  src: url('../fonts/Ladi-Dense.woff2') format('woff2'),
      url('../fonts/Ladi-Dense.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Unbounded Light';
  src: url('../fonts/Unbounded-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Unbounded Regular';
  src: url('../fonts/Unbounded-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/Unbounded-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}


/*
  GLOBAL
*/

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  font-weight: bold;
  font-size: 3rem;
  line-height: 4rem;
  background: url(../img/pinky-1.png) bottom no-repeat;
  background-size: 100%;
}

main {
  padding-top: 25rem;
}

h3 {
  font-family: 'Unbounded';
  font-size: 1.875rem;
  line-height: 2rem;
  margin-bottom: 2rem;
  /* grid-column-start: 4;
  grid-row-start: 2; */
}

h4 {
  font-family: 'Unbounded Regular';
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 5rem;
  
}

a {
  color: black;
  text-decoration: none;
  font-family: 'Unbounded';
  font-size: 1.5rem;
  text-transform: uppercase;
}

a:hover {
  font-style: italic;
  color: #00FF12;
  cursor: crosshair;
}

p {
  font-family: 'Unbounded Light';
  font-size: 1.3rem;
  line-height: 1.75rem;
}

img {
  width: 100%;
  height: auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  border: 1px solid black;
  width: 100vp;
  background-color: #F1F1F1;
  height: 50px;
}

.middle-info {
  display: flex;
  grid-column-start: 4;
  align-items: center;
  font-family: 'Unbounded Light';
  font-size: 0.8rem;
  line-height: 1rem;
  white-space: nowrap;
}

.object {
  padding-left: 2rem;
  padding-right: 2rem;
}

/* .object img {
  width: 300%;
  display: fixed;
} */

dialog {
  position: fixed;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 4;
}

dialog img,
dialog video {
  max-width: 50%;
  max-height: 70%;
  object-fit: cover;
  object-position: center;
}

audio {
  display: none;
  visibility: none;
}

/*
  LOGO
*/

.logo-menu {
  white-space: nowrap;
  width: 40%;
  grid-column-start: 1;
  grid-column-end: 4;
  position: fixed;
  max-width: 450px;
}

/*
  MENU
*/

.menu {
  grid-column-start: 6;
  display: flex;
  align-items: center;
}

.menu__primary {
  display: flex;
  list-style: none;
}

.menu__secondary {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid black;
  list-style: none;
}

.menu__primary-list {
  margin-left: 1rem;
  margin-right: 2rem;
  font-size: 2rem;
  line-height: 2rem;
  position: relative;
}

.menu__primary-list:hover .menu__secondary {
  display: block;
}

.menu__secondary {
  margin: 0;
  padding: 2rem 2rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}

.menu__secondary-list {
  font-size: 1.5rem;
  white-space: nowrap;
  padding: 0.5rem 1rem;
}

.bottom__nav {
  display: flex;
  width: 50vw;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
  padding-left: 2rem;
  background-color: #F1F1F1;
  border: 1px solid black;
  height: 40px;
  align-self: flex-end;
  position: absolute;
  bottom: 2rem;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/*
  GRID
*/

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 0rem;
}

.grid--project {
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}

.grid__images {
  max-height: calc(100vh - 25rem);
  width: 85%;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  cursor: crosshair;
}
.grid__images::-webkit-scrollbar {
    width: 10px;
    background-color: #F1F1F1;
  }
  
.grid__images::-webkit-scrollbar-track
  {
    border: 1px solid black;
    background-color: #F1F1F1;
  }
.grid__images::-webkit-scrollbar-thumb
  {
    background-color: #000000;	
  }
  

.grid__text {
  padding-right: 3rem;
  display: flex;
  flex-flow: column wrap;
  position: relative;
}

.grid__keywords {
  display: flex;
  justify-content: space-between;
}

/*.grid--gallery {
  grid-template-rows: repeat(7, 1fr);
  gap: 2rem;
  position: relative;
  z-index: 1;
  mix-blend-mode: multiply;
}

.grid__image,
.grid__video {
  position: relative;
  display: flex;
  filter: grayscale(100%) invert(100%);
}

.grid__image img,
.grid__video video {
  filter: grayscale(50%);
  opacity: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  mix-blend-mode: exclusion;
  cursor: pointer;
  transition: all 0.1s linear;
}
*/
/* .grid__image:nth-of-type(1) {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  background: aquamarine;
}

.grid__image:nth-of-type(2) {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 4;
  background: aquamarine;
}

.grid__image:nth-of-type(3) {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
  background: aquamarine;
}

.grid__image:nth-of-type(4) {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 6;
  background: aquamarine;
}

.grid__image:nth-of-type(5) {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 7;
  background: aquamarine;
} */

/* .grid__video {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 8;
  background: aquamarine;
} */



/*
  CLOSE
*/

.close {
  position: fixed;
  z-index: 5;
  top: 3.5rem;
  right: 0;
  padding: 2rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Unbounded';
  cursor: crosshair;
  display: none;
}

/*
  IMAGES
*/

.worlds {
  min-width: 100px;
}
