*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.grid-container {
 
  display: grid;
  grid-template-columns: repeat(6,1fr);
  
}


.grid-item:nth-of-type(odd) {
  background: orange;
}

.grid-item:nth-of-type(odd):hover {
 background-image: url("../img/task.png");
 background-size: contain;
 background-repeat: no-repeat;
}

.grid-item:nth-of-type(even) {
  background: blue;
}

.grid-item:nth-of-type(even):hover {
  background: green;
}

/*img {
  width: 100%;
  height: auto;
}*/
