/*
    GLOBAL
*/

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
    font-family: nimbus-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
} 

a {
    text-decoration: none;
    color: black
} 

a:hover {
    text-decoration: underline;

} 

h1 {
    font-size: 2rem;
} 

p,
a {
  font-size: 1.4rem;
  line-height: 2rem;
}



/*
    MENU
*/

.menu {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    background: green;
} 

.menu ul {
    display: flex;
    list-style: none;
}

.menu li {
    line-height: 4rem;
}

.menu li:nth-child(2) {
  background: pink;
  margin: 0 2rem;
}



/*
    LOGO
*/


.logo {
    font-family: nimbus-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size: 4rem;
    line-height: 6rem;
    letter-spacing: -0.1rem;
    white-space: nowrap;
    grid-column-start: 1;
    grid-column-end: 7;
    display: flex;
    justify-content: space-between;
    background: red;
    text-align: justify;
} 


/*
    GRID
*/

.grid{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin: 2rem;
} 

.grid--header {
    grid-template-columns: repeat(3,1fr);
    position: relative;
}

.grid--about p{ 
    grid-column-start: 2;
    grid-column-end: 5;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.grid--contact {
    grid-template-columns: repeat(1,1fr);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.grid--contact a{
    text-align: center;
}
    

.grid--gallery {
    grid-template-rows: repeat(6,1fr);
}


/*
    IMAGE
*/

.grid__image {
    position: relative;
    display: flex;
  }

.grid__image img,
.grid__video video {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

.grid__image:hover img,
.grid__video:hover video {
  opacity: 1;
  filter: grayscale(50%);
  mix-blend-mode: exclusion;
  background-color: pink;
}
  
  .grid__image:nth-of-type(1) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background: red;
  }
  
  .grid__image:nth-of-type(2) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    background: teal;
  }

  .grid__image:nth-of-type(3) {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    background: red;
  }

  .grid__image:nth-of-type(4) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    background: teal;
  }

  .grid__image:nth-of-type(5) {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
    background: red;
  }

  .grid__image:nth-of-type(6) {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 5;
    background: teal;
  }

  .grid__video {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 7;
    background: plum;
  }
