/*
    GLOBAL
*/

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
  font-size: 62.5%;
  font-family: nimbus-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
  background-color: black;
} 

a {
  text-decoration: none;
  color: white;
} 

a:hover {
  text-decoration: none;
  color:#FFBAD3
} 

a:active {
  text-decoration: none;
  color:#FFBAD3
} 

h1 {
  font-size: 2rem;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h5 {
  font-size: 3rem;
  line-height: 120%;
  letter-spacing: -2%;
  color: white;
}

p,
a {
  font-size: 1.4rem;
  line-height: 2rem;
  color: white;
}

body#about.html{
  background: black
}
    
/*
    MOUSE
*/

.follower {
  z-index: 999;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: fixed;
  transform: translate(calc(1.05px * var(--mouse-x)), calc(1.05px * var(--mouse-y)));
  background: pink;
  mix-blend-mode: difference;
}
  
/*
    MENU
*/

.header {
  padding: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 99998;
}

.header__wrapper {
  background: black;
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  border-radius: 40px;
  align-items: center;
  padding: 0 2rem;
}

.menu {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: white;
  display: flex;
  align-items: flex-end;
} 

.menu ul {
  display: flex;
  list-style: none;
}

.menu li {
    line-height: 4rem;
}

.menu li:nth-child(2) {
  margin: 0 2rem;
}

/*
    LOGO
*/

.logo {
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 2rem;
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  text-align: left;
  color: white;
} 

.services {
  font-size: 1.4rem;
  line-height: 1.5rem;
  color: white;
} 

/*
    GRID
*/

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  top: 10vh;
  left: 0;
  width: 100vw;
  height: 80vh;
  position: absolute;
  gap: 4rem;
}

.grid p {
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  font-size: 15vw;
  line-height: 75%;
  letter-spacing: -1vw;
  display: block;
  text-align: left;
  color: #FFBAD3;
  mix-blend-mode: exclusion;
  display: flex;
}

/*
    SWIPER
*/

.swiper-container-vertical,
.swiper-container-horizontal {
  width: 100vw;
  height: 100vh;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.swiper-slide p {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  white-space: nowrap;
}

.swiper-slide:hover p {
  opacity: 1;
}

.swiper-slide:nth-of-type(1) p:first-of-type {
  grid-column-start: 1;
  grid-row-start: 1;
  align-items: right;
}

.swiper-slide:nth-of-type(1) p:last-of-type {
  grid-column-start: 2;
  grid-row-start: 2;
  align-items: left;
} 

.swiper-slide:nth-of-type(2) p:first-of-type {
  grid-column-start: 2;
  grid-row-start: 1;
  align-items: left;
}

.swiper-slide:nth-of-type(2) p:last-of-type {
  grid-column-start: 3;
  grid-row-start: 2;
  align-items: center;
} 

.swiper-slide:nth-of-type(3) p:first-of-type {
  grid-column-start: 2;
  grid-row-start: 1;
  align-items: flex-start;
}

.swiper-slide:nth-of-type(3) p:last-of-type {
  grid-column-start: 3;
  grid-row-start: 2;
  align-items: flex-end;
} 

.swiper-slide:nth-of-type(4) p:first-of-type {
  grid-column-start: 1;
  grid-row-start: 1;
  align-items: flex-start;
}

.swiper-slide:nth-of-type(4) p:last-of-type {
  grid-column-start: 1;
  grid-row-start: 2;
  align-items: center;
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  background: transparent;
  border: 1px solid white;
  opacity: 1;
  mix-blend-mode: exclusion;
  margin: 20px 0;
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet-active,
.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet-active {
  background: white;
}

.swiper-pagination {
  mix-blend-mode: exclusion;
}



/*
  DIALOG
*/

dialog {
  position: fixed;
  background: black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  display: none;
}

dialog h3 {
  position: fixed;
  top: 4rem;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 99999;
  pointer-events: none;
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
}

dialog h4 {
  font-size: 1.4rem;
  position: absolute;
  bottom: 4rem;
  z-index: 99999;
  color: white;
}

dialog cite {
  font-size: 1.4rem;
  position: fixed;
  bottom: 4rem;
  left: 4rem;
  z-index: 99999;
  color: white;
  font-style: normal;
  align-items: center;
  opacity: 1;
}


dialog .swiper-inner {
  width:70%;
  height: 70%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  object-position: center;
}


dialog .swiper-inner img {
  width: auto;
}

dialog .swiper-inner p {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  z-index: 99999;
  color: white;
  font-style: normal;
  align-items: left;
  }

dialog .swiper-button-next {
  position: fixed;
  top: 50%;
  right: 2rem;
  z-index: 99999;
  color: #FFBAD3;
  transform: scale(0.3);
}

dialog .swiper-button-prev {
  position: fixed;
  top: 50%;
  left: 2rem;
  z-index: 99999;
  color: #FFBAD3;
  transform: scale(0.3);
}

.close {
  position: fixed;
  color: #FFBAD3;
  top: 2rem;
  right: 2rem;
  z-index: 99999;
  font-size: 2rem;
  cursor: pointer;
}

.counter {
  font-size: 1.4rem;
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  color: #FFBAD3;
  z-index: 99999;
  align-items: center;
}

.about__wrapper{
  margin-top:10rem;
  margin-left:4rem;
}

.about__wrapper p{
  margin-bottom: 1.2rem;
}

.about-intro{
  width:70%;
  
}

.selected-clients {
  margin-top: 5rem;
}

.selected-clients__grid {
  display: grid;
  height: fit-content;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.selected-clients:nth-of-type(1){
  grid-column-start: 1;
  grid-column-end: 2;
}

.selected-clients:nth-of-type(2){
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
}

.contact-info__grid {
  display: grid;
  margin-top: 5rem;
  height: fit-content;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.contact-info__grid a {
  font-size: 3rem;
  line-height: 120%;
  letter-spacing: -2%;
  color: white;
}

.contact-info__grid a:hover {
  font-size: 3rem;
  line-height: 120%;
  letter-spacing: -2%;
  color: pink;
}

.contact-info__grid:nth-of-type(1){
  grid-column-start: 1;
  grid-column-end: 2;
}

.contact-info__grid:nth-of-type(2){
  grid-column-start: 2;
  grid-column-end: 3;
}

.contact-info__grid:nth-of-type(3){
  grid-column-start: 3;
  grid-column-end: 4;
}
 

