/*
    GLOBAL
*/

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
    font-family: nimbus-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
} 

a {
    text-decoration: none;
    color: white
} 

a:hover {
    text-decoration: underline;

} 

h1 {
    font-size: 2rem;
    color: white;
} 

p,
a {
  font-size: 1.4rem;
  line-height: 2rem;
  color: white;
}

header {
  background: black;
  outline: 1px;
  outline-color: white;
}

dialog {
    position: fixed;
    background: rgba(255, 255, 255, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
  }
  

    dialog img,
    dialog video {
        max-width: 50%;
        max-height: 70%;
        object-fit: cover;
        object-position: center;
      }
    
/*
    MOUSE
*/

.follower {
  z-index: 999;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: fixed;
  transform: translate(calc(1.05px * var(--mouse-x)), calc(1.05px * var(--mouse-y)));
  background: pink;
  mix-blend-mode: difference;
}
  
/*
    MENU
*/

.menu {
    font-size: 1.5rem;
    color: white;
    display: flex;
    align-items: right;
    position: relative;
    grid-column-start: 3;
    grid-column-end: 4;
} 

.menu ul {
    display: flex;
    list-style: none;
}

.menu li {
    line-height: 4rem;
}


.menu li:nth-child(2) {
  margin: 0 2rem;
}



/*
    LOGO
*/


.logo {
    font-family: nimbus-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 2rem;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    text-align: left;
    color: white;
} 

.service {
  font-family: nimbus-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  line-height: 2rem;
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
  color: white;
} 


/*
    GRID
*/

.grid{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin: 2rem;
} 

.grid--header {
    grid-template-columns: repeat(3,1fr);
    position: relative;
    align-items: center;
}

/*
.grid--project h1{ 
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(4,1fr);
    position: relative;
}

.grid--contact {
    grid-template-columns: repeat(1,1fr);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.grid--contact a{
    text-align: center;
}
    

/*
    SWIPER
*/

.swiper-container {
  width: 100vw;
  height: 100vh;
}

.swiper-slide {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.grid--project-info{
  width: 100%;
  height: 100%;
  margin: 4rem;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,1fr);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 4;
  opacity: 0;
}

.grid--project-info:hover {
  opacity: 1;
  transition: ease-in;
  mix-blend-mode: difference;
}

.grid--project-info__text {
  display: flex;
  position: relative;
  align-items: center;
}

.grid--project-info p {
  font-family: nimbus-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  font-size: 15vw;
  line-height: 75%;
  letter-spacing: -1vw;
  display: block;
  text-align: left;
  color: pink;
}

.grid--project-info__text:nth-of-type(1) {
  grid-column-start: 1;
  grid-column-end:3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.grid--project-info__text:nth-of-type(2) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}






/*
  CLOSE
*/

.close {
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    padding: 2rem;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    display: none;
  }
  

 

